.wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    font-family: Arial;
}

.paragraphs {
    max-width: 20%;
    font-size: 14px;
    border: 1px solid black;
    margin: 0 50px;
    padding: 50px;
}

.color-controller {
    max-width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.color-controller label {
    min-width: 30%;
    margin-bottom: 25px;
}

.color-input {
    width: 100%;
    display: block;
    margin-top: 10px;
}

#apply {
    height: 40px;
    font-size: 20px;
    color: #000000;
    background-color: unset;
    border-radius: 0;
    border: 1px solid #000000;
    cursor: pointer;
}

#apply:focus {
    outline: none;
}