* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f7f1f1;
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

.todo-list {
    max-width: 500px;
    background: linear-gradient(#e66465, #9198e5);
    color: #fff;
    box-shadow: -20px -20px 0 0 rgba(100, 100, 100, .1);
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
}

.todo-list h1 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.todo-list h1 span {
    display: block;
    font-size: 0.8rem;
    margin: 0.2rem 0 0.7rem 3px;
}

.todo-list ul {
    margin-top: 2.6rem;
    list-style-type: none;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 -3rem 4px;
    padding: 1.1rem 1rem;
}

.todo-list .label {
    position: relative;
    opacity: .7;
    padding: 5px;
    cursor: pointer;
    transition: 800ms;
}

.todo-list .done .label {
    text-decoration: line-through;
    opacity: 1;
}

.todo-list .label:hover {
    opacity: 1;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
}